
.block_strayquotes_quote{overflow: hidden;
                         margin-top: 15px;
}
	
.block_strayquotes_quoteDetails{width:95%;	               
                                font-family:"Lato", "Helvetica Neue", "Helvetica", sans-serif;
	                        font-weight:bold;
                                line-height:1.2em;
}
	
.block_strayquotes_quoteText {font-family:"Lato", "Helvetica Neue", "Helvetica", sans-serif;
	                      font-weight:bold;
	                      color:#333;
}
	
.block_strayquotes_authorpix{float:left;
                             padding-right: 15px;            
}
.block_strayquotes_author{
    
}
.block_strayquotes_source{
    font-style: italic;
    font-weight: normal;
}