/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-05-18, 13:28:46
    Author     : FRENETTE_E
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-05-18, 10:07:38
    Author     : FRENETTE_E
*/

.block_strayquotes_quote{overflow: hidden;
                         margin-top: 15px;
}
	
.block_strayquotes_quoteDetails{width:95%;	               
                                font-family:"Lato", "Helvetica Neue", "Helvetica", sans-serif;
	                        font-weight:bold;
                                line-height:1.2em;
}
	
.block_strayquotes_quoteText {font-family:"Lato", "Helvetica Neue", "Helvetica", sans-serif;
	                      font-weight:bold;
	                      color:#333;
}
	
.block_strayquotes_authorpix{float:left;
                             padding-right: 15px;            
}
.block_strayquotes_author{
    
}
.block_strayquotes_source{
    font-style: italic;
    font-weight: normal;
}