/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-05-18, 13:28:46
    Author     : FRENETTE_E
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-05-18, 10:07:38
    Author     : FRENETTE_E
*/

.block_strayquotes_quote{float:left;
                         width:500px;
}
	
.block_strayquotes_quoteDetails{float:left;
	                        width:83%;
	                        margin-right:2%;
}
	
.block_strayquotes_quoteText {font-family:"Lato", "Helvetica Neue", "Helvetica", sans-serif;
	                      font-weight:bold;
	                      color:#333;
}
	
.block_strayquotes_authorpix{float:left;
                             margin-right: 5px;
}
	
#container{width:200px;
}
	
#floated{float:left;
	 width:50px;
}
	
.cossin2{float:left;
	 margin: 0 0 20px 0;
}
	
.cossin{text-indent:2em;
        line-height:1.7em;
        font-weight: bold;		
}

